$breakpoint-tablet: 803px;
$breakpoint-desktop: 1200px;

@function css-function($function, $values...) {
    @return $function + unquote("(") + $values + unquote(")");
}

@function css-min($values...) {
    @return css-function(min, $values);
}

@function css-max($values...) {
    @return css-function(max, $values);
}

@function css-clamp($values...) {
    @return css-function(clamp, $values);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #413963;
    font-family: "Road Rage", cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;

    @media (min-width: $breakpoint-desktop) {
        & {
            padding: 0 15%;
        }
    }
}

img {
    filter: drop-shadow(-3px -3px 0px #fff);

    @media (min-width: $breakpoint-tablet) {
        & {
            filter: drop-shadow(-5px -5px 0px #fff);
        }
    }
}

span,
h1,
h2 {
    filter: drop-shadow(0.15em 0.15em 0px #000);
}

header {
    position: relative;

    .title {
        margin-top: 2rem;
        font-size: css-min(13vw, 6rem);
        color: white;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .comment {
        position: absolute;
        font-size: css-min(8vw, 6rem);

        &.cl {
            top: 8rem;
            left: 1rem;
            transform: rotate(-15deg);
        }

        &.cr {
            bottom: 3rem;
            right: 1rem;
            transform: rotate(-15deg);
        }

        @media (min-width: $breakpoint-tablet) {
            &.cl {
                top: 12rem;
                left: 0rem;
            }
            &.cr {
                right: 3rem;
            }
        }

        @media (min-width: $breakpoint-desktop) {
            &.cl {
                top: 15rem;
                left: 3rem;
            }
            &.cr {
                right: 3rem;
            }
        }
    }

    .cabec {
        align-self: center;
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        margin-bottom: 5rem;

        img {
            object-fit: contain;
            max-width: 80vw;
        }

        img.boca {
            position: absolute;
            // animation: anim-boca 0.4s ease 0s infinite alternate;
            filter: none;
        }

        @keyframes anim-boca {
            0% {
                transform: translate(0, 0);
            }
            25% {
                transform: translate(0, 0);
            }
            50% {
                transform: translate(-2px, 15px);
            }
            75% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(-2px, 15px);
            }
        }
    }

    #panic {
        position: absolute;
        width: 100px;
        bottom: -3rem;
        left: 2rem;
    }

    #arrows {
        filter: none;
        position: absolute;
        width: 100px;
        bottom: 3rem;
        left: 2rem;
    }

    @media (min-width: $breakpoint-tablet) {
        & {
            #panic {
                width: 150px;
            }

            #arrows {
                width: 150px;
                bottom: 6rem;
            }
        }
    }

    @media (min-width: $breakpoint-desktop) {
        & {
            #panic {
                width: 200px;
            }

            #arrows {
                width: 200px;
                bottom: 8rem;
            }
        }
    }
}

.content {
    position: relative;
    margin: 1rem;

    margin-top: 8rem;

    .timeline {
        position: absolute;
        left: 50%;
        top: 10vw;
        transform-origin: top center;
        padding-bottom: 50rem;

        #start {
            position: absolute;
            width: 200px;
            top: 0;
            left: 50%;
            transform: translate(-50%, -150%);
        }

        #mover {
            filter: drop-shadow(-5px -5px 0px #fff);

            transform: rotate(-90deg);
            position: absolute;
            motion-rotation: reverse;

            img {
                filter: none;
            }

            .head {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .head,
            .wing-l,
            .wing-r {
                width: 70px;
            }

            .wing-l {
                animation: wing-l 0.2s linear 0s infinite alternate;
                transform-origin: center right;
            }

            .wing-r {
                animation: wing-r 0.2s linear 0s infinite alternate;
                transform-origin: center left;
            }

            @keyframes wing-l {
                0% {
                    transform: rotate(-30deg);
                }
                100% {
                    transform: rotate(30deg);
                }
            }

            @keyframes wing-r {
                0% {
                    transform: rotate(30deg);
                }
                100% {
                    transform: rotate(-30deg);
                }
            }
        }

        path#curve {
            fill: none;
            stroke: #fff;
            stroke-width: 2;
            stroke-dasharray: 5, 5;
        }
    }

    .section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20vw;
        margin-bottom: 5rem;
        position: relative;
        align-items: center;

        span {
            font-size: css-min(8vw, 5rem);
            display: flex;
            align-items: center;
            text-align: center;
        }
        img {
            width: 100%;
        }

        // Specific
        .wrapper {
            width: 100%;
            position: relative;
        }

        .birds {
            // filter: none;
            position: absolute;
            left: 28%;
            top: -2%;
            width: 30%;
            transform: rotate(5deg);
        }

        .siren {
            position: absolute;
            left: 23%;
            top: 10%;
            width: 20%;
            transform: rotate(10deg);
        }

        .fogo {
            filter: none;
            position: absolute;
            left: 25%;
            top: 32%;
            width: 20%;
            transform: rotate(10deg);
        }

        .tinder {
            position: absolute;
            top: 10%;
            left: 0;
            width: 20%;
        }

        .poop {
            position: absolute;
            right: -5%;
            bottom: -8%;
            width: 40%;
        }

        .perfect {
            position: absolute;
            right: 0%;
            bottom: -15%;
            font-size: 4vw;
        }

        @media (min-width: $breakpoint-desktop) {
            .poop {
                right: -20%;
                bottom: -5%;
            }

            .perfect {
                right: -13%;
                bottom: -10%;
                font-size: 2vw;
            }
        }

        .music {
            filter: none;
            position: absolute;
            top: -30%;
            left: 0;
            width: 30%;
            transform: rotate(-30deg);
        }

        &.final {
            @media (min-width: $breakpoint-tablet) {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 10vw;

    .finalImage {
        width: 80%;
    }

    .girl {
        width: 50%;
        filter: none;
    }

    .end {
        font-family: "Great Vibes", cursive;
        text-align: center;
        font-size: css-min(15vw, 6rem);
    }
}
